[submodule "lib/better-enums"]
	path = lib/better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "lib/robot"]
	path = lib/robot
  url = https://github.com/Robot/robot.git
[submodule "lib/anitomy"]
	path = lib/anitomy
	url = https://github.com/erengy/anitomy.git
[submodule "lib/breakpad"]
	path = lib/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
